_build/
deps/
.git/
.elixir_ls/
node_modules/
erl_crash.dump
*.db
*.db-journal
.DS_Store
cover/
test/
test-results/
doc/
core/_build/
core/deps/
core/doc/
core/erl_crash.dump
core/*.tar
core/coveralls.json
core/test/
